@tailwind base;
@tailwind components;
@tailwind utilities;


.App {
  text-align: center;
  background-color: lightgray;
}


.container {
  justify-self: center;
  height: 100vh; /* This is creating more space when I add a top bar. I want this
                  to only take up the rest of the page, not always the height 
                  of a given screen.*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-bar {
  height: 5rem;
  font-size: 30px;
  font-weight: bold;
  justify-content: center;
  vertical-align: center;
  display: flex;
  align-items: center;
}

.main-button {
  height: 50vh;
  width: 50%;
  justify-content: center;
  align-items: center;

}
